@model List<ResumeMvc.ViewModels.DistinctionViewModel>

<div class="section" id="Distinctions">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Distinctions</div>
        @foreach (var item in Model)
        {
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p></p>
                            <div class="h5">Distinction</div>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h5">@item.Title</div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>