@model List<ResumeMvc.ViewModels.LanguageViewModel>

<div class="section" id="Languages">
    <div class="container">
        <div class="h4 text-center mb-4 title">Languages</div>
        <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <div class="card-body">
                @foreach (var item in Model)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="progress-container progress-primary">
                                <span class="progress-badge">@item.Title</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="@item.Score" aria-valuemin="0" aria-valuemax="100" style="width: @(item.Score+"%")"></div><span class="progress-value">@item.Score%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>